# API configuration
API_ENDPOINT="https://<airqualitypi-api-url>"
REQUEST_TIMEOUT="10"

# PMS5003 configuration
PMS_DEVICE="/dev/serial0"
PMS_PIN_ENABLE="22"
PMS_PIN_RESET="27"

# BME680 configuration
I2C_ADDR="0x76"
BME_I2C_BUS="1"
SEA_LEVEL_PRESSURE="1002.25"

